global
        maxconn 256
        log 127.0.0.1:514 local0
defaults
        mode http
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms
        log global
frontend http-in
        bind *:80
        default_backend servers
backend servers
